<?xml version="1.0"?>

<model>
    <name>Small UAV Glider</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Alejandro Aguilar</name>
        <email>aguilarjaimes.ruben@gmail.com</email>
    </author>

    <description>
        Model of an small UAV in for of a glider.

        <!---  TODO: Upload meshes and a description file to github or gitlab -->
        The meshes have been imported and adapted from:

        All the internal specifications have been extracted and adapted from:

    </description>
</model>
